:root {
  --bg-red-theme: rgb(116, 0, 2) radial-gradient(circle, rgba(116, 0, 2, 1) 65%, rgba(64, 0, 1, 1) 100%);
  --bg-dark-theme: rgb(178, 190, 195) radial-gradient(circle, rgba(178, 190, 195, 1) 0%, rgba(45, 52, 54, 1) 100%);
  /* COLOR */
  --light-black: #0d2023;
  --light-gray: #b2bec3;
  --light-green: #00ff0a;
  --red: #ff0c0c;
  --white: #ffffff;
  --green: #3daa2d;
  --black: #0f0000;
  --gray: #bab6b6;
  --maroon: #721d29;
  --dark-gray: #50595c;
  --dark-blue: #2c3e50;
  --dark-maroon: #400000;
  /* FONT */
  --chakra: "Chakra Petch", sans-serif;
  --jamjuree: "Bai Jamjuree", sans-serif;
  /* SHADOW */
  --card-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  --primary: var(--maroon)
  --secondary: var(--light-green)
  --background: var(var(--black))
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--black);
  color: var(--white);
  background-image: url("/bg.png");;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class^="col-"] {
  position: relative;
  /* background-color: #cccccc; */
  /* border: 1px solid #222222; */
  float: left;
}

.container {
  width: 100%;
  /* max-width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: 1px solid #222222; */
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 240px) {
  .col-xs-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-xs-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.card {
  margin: 0.5rem 0;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
  border: 1px solid --white;
  border-radius: 5px;
  font-size: large;
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--red);
  margin-right: 5px;
}

.badgesmall {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--red);
  margin-right: 5px;
  font-size: 10px;
}

.wrapper {
  z-index: 100000 !important;
}