.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.list > div {
  width: 376.4px;
  height: 282.3px;
}

.list .listitem {
  position: relative;
}

.list .listitem img {
  width: 376.4px;
  height: 282.3px;
  border-radius: 10px;
}

.list .listitem .desc {
  position: absolute;
  bottom: 0px;
  color: white;
  /* font-size: 20px; */
  padding: 10px;
}

.list .listitem .desc>h1 {
  font-size: 22px;
  font-weight: bold;
}

.picker {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-right: 30px;
}

.search {
}
