.root {
  width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
}

.toolbar {
  padding: 7.5px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 50;
  font-weight: bold;
}

.logo img {
  width: 100%;
  height: 100px;
}
